<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fast-Forward Programming</title>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/skeleton.2.02.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="static/style.css">



  
</head>

<body>

  <!--HEADER-->
<header>
  <div class="container">
    
    <div class="row">
      <div class="twelve columns"> 
        <nav>
          <ul>

              <a href="#" class="top_btn">About</a>
              <a href="#" class="top_btn">Work <i class="fa fa-spinner fa-spin"> </i></a>
              <a href="#" class="top_btn">Sources <i class="fa fa-spinner fa-spin"> </i></a>
              <li><a href="javascript: document.body.scrollIntoView(false);" class="top_btn">Contact</a></li>

          </ul>
        </nav>  
      </div> 
    </div>

    <div class="row">    
      <div class="twelve columns">
        
          <h1> <font class="see_all" style="position: relative; left: -400px; color=white">Fast <i class="fa fa-fast-forward" style="font-size:50px;color:red;"></i> </font> <font color="red" class="see_all" style="position: relative; left: -400px; bottom: 0px">Forward</font><small><font style="position: relative; left: -5px "> <font class="see_all" style="position: relative; left: -724px; top: 38px; font-size: 42.5px"> Programming</font></small></h1><br>
          <h4> <font class="see_all" style="position: relative; left: 600px; color: white; top: -70px; font-size: 28px;"> Rapid <font style="color: red"> web development </font> using Python,</font> <br> <h4>
          <h4> <font class="see_all" style="position: relative; left: 600px; top: -102px; color: white; font-size: 28px;"> Django, HTML, CSS, SQL and more.</font></h4>
          <!--<font style="position: relative; top: -200px;"> <a href="#" class="btn">Head over to the blog</font></a> 
               -->

      </div>
    </div>

    <section class="services">
      <div class="row">
        <div class="twelve columns">
          <h3 style="font-size: 25px;">Choose an area of expertise</h3>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <a href="/guide/">
            <h4>Web Design</h4>
            <span class="fa fa-diamond"></span>
            <p>A beginner, passionate self-taught web designer, started this project from an old saying:<i> "Give the man a fish and you fed him once. Teach the man to fish and you fed him for life."</i></p>
          </a>
        </div>
        <div class="one-half column">
          <a href="#">
            <h4>Work in Progress <i class="fa fa-spinner fa-spin"> </i></h4>
            <span class="fa fa-cubes"></span>
            <p>Lorem ipsum dolor sit amet, eros aliquando conclusionemque quo te, te noster constituam adversarium eum. Ex similique consetetur eos. Cu qui homero propriae..</p>
          </a>
        </div>
      </div><!--end of .row-->
    </section>
  </div><!--end of .container-->
</header>

<!--ABOUT-->
<section class="about">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Who am I</h3>
      </div>
    </div><!--end of .row-->
    <div class="row bottom">
      <div class="two-thirds column">
        <p>Work in Progress <i class="fa fa-spinner fa-spin" style="font-size:23px"></i> <br> Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
        sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
        Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
      </div>
      <div class="one-third column">
        <h4>Degrees</h4>
        <ul>
          <li>Undergraduate in Mathematics - Informatics</li>
          <li>BA in Language Studies</li>
          <li>MA in English Translation Studies </li>
        </ul>
        <h4>Work in Progress <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></h4>
          <ul>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
          <a href="#" class="btn"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></a>
      </div>
    </div><!--end of .row-->
    <div class="row">
      <div class="twelve columns">
        <h4 class="center">Interested in learning more about programming?</h4>
      </div>
    </div><!--end of .row-->
    <div class="row">
      <div class="twelve columns">
        <a href="#" class="btn block"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></a>
      </div>
    </div><!--end of .row-->
  </div><!--end of .container-->
</section>

<!--CONTACT-->
<section class="contact">
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h3>Contact <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></h3>
      </div>
    </div><!--end of .row-->
    <div class="row">
      <div class="offset-by-two eight columns">
        <ul>
          <li><a href="#" title=""><span class="fa fa-facebook"></span></a></li>
          <li><a href="#" title=""><span class="fa fa-twitter"></span></a></li>
          <li><a href="#" title=""><span class="fa fa-github"></span></a></li>
        </ul>
      </div>
    </div><!--end of .row-->

    <!-- Contact me btn -->
    <div class="row">
      <div class="twelve columns">
        <a href="#" class="btn block btn-blue">Mail me</a>
      </div>
    </div><!--end of .row-->

    <div class="row">
      <div class="twelve columns">
        <p class="creator">©2018 Fast-Forward Programming Inc. <a href="#"><font style="color: white;">Go top</a></p>
      </div>
    </div><!--end of .row-->
  </div><!--end of .container-->
</section>
  
  

    <script  src="js/index.js"></script>




</body>

</html>
